/* aside-left */
.aside-left {
  background-color: #FFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 100%;
  max-width: 24rem;
  
}
.aside-left {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.aside-left-info-img {
  border-radius: 50%;
  display: block;
  margin: 2rem auto;
  width: 14rem;
  height: 12rem;
  overflow: hidden;
}
.aside-left-info span {
  color: #2B2B2B;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}
.aside-left-info p {
  color: #767676;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}
.aside-left-info-icon {
  border-bottom: solid 1px #F0F0F6;
  display: flex;
  color: #FFB400;
  font-size: 1.4rem;
  width: 100%;
  justify-content: space-around;
  margin-top: 1rem;
  padding-bottom: 1.4rem;
}
.aside-left-info-texte {
  border-bottom: solid 1px #F0F0F6;
  padding-bottom: 1.4rem;
}
.aside-left-info-texte-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  p {
    background: #FFB400;
    color: #2B2B2B;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.2rem 1rem;
    margin-top: 1.4rem;
  } 
  strong {
    color: #2B2B2B;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 1rem;
  }
}

/*Languages*/
.aside-languages-container {
  border-bottom: solid 1px #F0F0F6;
  padding-bottom: 1.4rem;
}
.aside-languages {
  display: flex;
  flex-direction: column;
  h3 {
    color: #2B2B2B;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1rem;
  }
}
.aside-languages-info-title {
  display: flex;
  gap: 14rem;
  span {
    color: #767676;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 1rem;
  }
}
.aside-carregando {
  background-color: #FFB400;
  border: solid 2px #FFF;
  border-radius: 5px;
  width: 21.4rem;
  height: 0.8rem;
}
.aside-carregando-2 {
  background-color: #FFB400;
  border: solid 2px #FFF;
  border-radius: 5px;
  width: 30rem;
  height: 0.8rem;
}
.aside-carregando-3 {
  background-color: #FFB400;
  border: solid 2px #FFF;
  border-radius: 5px;
  width: 18rem;
  height: 0.8rem;
}
.aside-carregando-borda {
  border-radius: 5px;
  width: 90%;
  border: solid 1px #FFB400;
  margin: 0.4rem 1rem;
}
.aside-carregando-borda-2 {
  border-radius: 5px;
  width: 90%;
  border: solid 1px #FFB400;
  margin: 0.4rem 1rem;
}


