.section-education, .section-workhistory {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 96rem;
  margin-top: 6rem;
  h2 {
    color: #2B2B2B;
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
  }
  h4 {
    color: #767676;
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 42rem;
    text-align: center;
    margin: 0 auto;
  }
}
.section-education-info, .section-workhistory-info {
  background: #FFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  padding: 2rem 0;
  width: 78rem;
}
.section-education-info-1, .section-workhistory-info-info-1 {
  display: flex;
  gap: 10rem;
  padding-bottom: 1rem;
  border-bottom: solid #F0F0F6 1px;
}
.section-education-info-text, .section-workhistory-info-text {
  margin:4.6rem 4.6rem;
  h3 {
    color: #2B2B2B;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
.section-education-info-student, .section-workhistory-info-student {
  width: 100%;
  width: 16rem;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  span {
    color: #2B2B2B;
    font-size:1.2rem ;
    font-weight: 400;
  }
  p {
    color: #FFF;
    display: block;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    background: #FFB400;
  }
}
.section-education-info--text, .section-workhistory-info--text {
  margin-top:4.6rem;
  h3 {
    color: #2B2B2B;
    font-size: 1.8rem;
    font-weight: 500;
  }
  p {
    color: #767676;
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 40rem;
    line-height: 1.4;
    margin-top: 2rem;
  }
}
