.section-quite {
  background: #FFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 0.5rem;
  display: flex;
  width: 100%;
  max-width: 70rem;
  height: 41.3rem;
  margin-top: 2rem;
}
.section-quite-title {
  margin: 6rem 4rem;
  h1 {
    color: #2B2B2B;
    font-size: 2.8rem;
    font-weight: 900;
    max-width: 32rem;
    line-height: 1.6;
  }
  strong {
    color: #FFB400;
  }
  p {
    color: #767676;
    font-size: 1.1rem;
    font-weight: 300;
    max-width: 30rem;
    line-height: 1.4;
    margin-top: 1rem;
  }
  button {
    background: #FFB400;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #2B2B2B;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
  }
  button:hover {
    background: rgba(255, 180, 0, 0.95);
    color: #2B2B2B;
    transform: scale(1.05);
  }
}
.section-quite-img {
  width: 100%;
  width: 28rem;
  margin-top: 2rem;
}